html, body {
    width: 100%;
    height: 100%;
    background-color: #f5f7f8;
    display: grid;
    grid-gap: 1rem;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

header #name {
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    display: grid;
    grid-gap: 1rem;
    margin: 2rem;
}


main section {
    display: grid;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.certification-item img:hover, #linkedin-icon img:hover, #github-icon img:hover  {
    transform: scale(1.1);
}

#back-to-the-top-link:hover {
    cursor: pointer;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

#years-of-experience {
    color: #f5f7f8;
    font-size: 1.4rem;
    align-self: center;
}

.section-title a {
    text-decoration: none;
    color: #000000;
}

.section-body {
    display: grid;
}

#certification-list {
    display: grid;
    justify-items: center;
}

#contact #contact-email {
    margin: 1rem auto;
}

#contact-form {
    display: grid;
}

#contact-form .form-group {
    display: grid;
}

#contact-form input, #contact-form textarea {
    background-color: #f1f1f1;
    padding: .5rem;
    border-radius: 10px;
    margin: .5rem;
    border: 0;
}

#submit-contact-button:hover {
    background-color: #fff;
    border: 1px solid black;
}